<a href="https://colab.research.google.com/github/Wersob/Homicide-Reports/blob/main/Homicide_Reports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
crimetypes_list = ['murder', 'manslaughter', 'negligence']
crimetypes_list

['murder', 'manslaughter', 'negligence']

In [ ]:
type(crimetypes_list)

list

In [ ]:
crime_series = pd.Series(data = crimetypes_list)
crime_series

0          murder
1    manslaughter
2      negligence
dtype: object

In [ ]:
type(crime_series)

pandas.core.series.Series

In [ ]:
crime_amount_series = pd.Series(data = [54, 126, 6])
crime_amount_series

0     54
1    126
2      6
dtype: int64

In [1]:
import pandas as pd
crimetypes_list = ['murder', 'manslaughter', 'negligence']
crimeamount_list = [54, 126, 6]
crimetypes_series = pd.Series(data = crimetypes_list, index = crimeamount_list)
crimetypes_series

54           murder
126    manslaughter
6        negligence
dtype: object

In [ ]:
import pandas as pd
perpetrator_dict = {'sex': 'male',
                    'race': 'black',
                    'weapon': 'gun'}

perpetrator_dict = pd.Series(data = perpetrator_dict)
perpetrator_dict

sex        male
race      black
weapon      gun
dtype: object

In [8]:
import pandas as pd
portfolio_df = pd.DataFrame({'Type of crime' : ['murder', 'manslaughter', 'negligence'],
                             'Number of crimes' : [158, 86, 21],
                             'Number of victims per crime' : [4, 2, 1]})
portfolio_df

totalvalue_df = portfolio_df['Number of crimes'].multiply(portfolio_df['Number of victims per crime'])
totalvalue_df

TotalVictimsNumber_df = totalvalue_df.sum()
TotalVictimsNumber_df

825

In [11]:
import pandas as pd

US_retirement_data_df = pd.read_html('https://www.ssa.gov/oact/progdata/nra.html')
US_retirement_data_df[0]

,Year of birth,Age
0,1937 and prior,65
1,1938,65 and 2 months
2,1939,65 and 4 months
3,1940,65 and 6 months
4,1941,65 and 8 months
5,1942,65 and 10 months
6,1943-54,66
7,1955,66 and 2 months
8,1956,66 and 4 months
9,1957,66 and 6 months
10,1958,66 and 8 months
11,1959,66 and 10 months
12,1960 and later,67
13,Notes: 1. Persons born on January 1 of any yea...,Notes: 1. Persons born on January 1 of any yea...